/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#content {
  padding-bottom: 40px;
}

#post-content img.fullsize, #post-content video.fullsize {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  width: auto;
  height: auto;
  max-height: 500px;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

#navigation-dropdown-visibility-checkbox-internal {
  display: none;
}

#navigation-dropdown-visibility-checkbox-internal:checked + .navbar-collapse {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.anxiconletterindex {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.anxiconletterindex > a {
  padding: 0.5rem;
  font-size: 2rem;
  flex: 1;
  text-align: center;
}

.anxiconletterindex > a:hover {
  background-color: #eee;
  text-decoration: none;
}

#post-content > h2, #post-content > h3, #post-content > h4 {
padding-bottom: 0.5em;
padding-top: 1em;
}

