+++
title = "Anxicon"
description = "Das Lexikon für Anfänger"
keywords = ["extras","Downloads","Links","Anxicon"]

+++

<quote>Kategorie: Anfänger</quote>

<p>
Sie befinden sich in unserem Anxicon (einem Wortspiel aus Anoxinon und Lexikon).
Hier werden wir Ihnen ein paar Begriffe erklären, die Sie im Zusammenhang mit Technik schon einmal gehört haben aber vielleicht nicht so genau zuordnen können.
</p>

{{% anxicon %}}
