+++
title = "Extras"
description = "Downloads und Links"
keywords = ["extras","Downloads","Links"]
+++

<center>
  Wir möchten auf dieser Seite weiterführende Links und Downloads zur Verfügung stellen.<br>
  Diese Seite wird regelmäßig überarbeitet, Vorschläge bitte via E-Mail oder Mastodon!<br>
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  <b>
    Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
    Seiten verantwortlich.
  </b>
</center>

<br><br><br>

<section>
  <div class="container">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-4">
          <div class="box-simple">
            <a href="/anxicon/">
              <div class="icon">
                <i class="fa fa-book"></i>
              </div>
              <h3>Anxicon</h3>
            </a>
            <p>Das Lexikon für Anfänger. Wir erklären hier die verschiedensten Begrifflichkeiten.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box-simple">
            <a href="/downloads/">
              <div class="icon">
                <i class="fa fa-download"></i>
              </div>
              <h3>Downloads</h3>
            </a>
             <p>Durchstöbern sie verschiedene Materialien, wie zum Beispiel Flyer. (Work in Progress)</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box-simple">
            <a href="/empfohleneprogramme/">
              <div class="icon">
                <i class="fa fa-tv"></i>
              </div>
              <h3>Empfohlene Programme</h3>
            </a>
            <p>Auf der Suche nach Programmen für Ihren PC? Hier finden Sie eine Liste von Open Source / Freier Software.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="box-simple">
            <a href="/empfohlenedienste/">
              <div class="icon">
                <i class="fa fa-wrench"></i>
              </div>
              <h3>Empfohlene Dienste</h3>
            </a>
            <p>Genug von multinationalen Konzernen, die Ihre Privatspähre missachten? Dann nutzen Sie einen der gelisteten Dienste.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box-simple">
            <a href="/weitereempfehlungen/">
              <div class="icon">
                <i class="fa fa-smile-o"></i>
              </div>
              <h3>Weitere Empfehlungen</h3>
            </a>
            <p>Abseits von Software und Services gibt es auch noch weitere interessante Materialien. Hier möchten wir sie vorstellen. </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box-simple">
            <div class="icon">
              <i class="fa fa-ban"></i>
            </div>
            <h3>Coming Soon</h3>
            <p>Hier finden Sie bald etwas Neues.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
