{{ if isset .Site.Params.widgets "search" }}
{{ if .Site.Params.widgets.search }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">Feeds</h3>
    </div>

    <div class="panel-body">
       <a href="/index.xml"><i class="fa fa-rss"></i>RSS Feed</a><br>
       <a href="https://social.anoxinon.de/@anoxinonmedia.rss"><i class="fa fa-mastodon"></i>Mastodon Feed</a>
    </div>
</div>
{{ end }}
{{ end }}
