<!-- Die Seite ist ohne Javascript voll funktionsfähig. Diese Date ist noch existent als Platzhalter falls für eine mögliche Suche JavaScript eingebunden werde muss -->

<!-- <script src="{{ .Site.BaseURL }}js/jquery-3.3.1.min.js"></script> -->
<!-- <script src="{{ .Site.BaseURL }}js/bootstrap-4.2.1.min.js"></script> -->
